@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes floatUp {
  0% {
    transform: translateY(20px) translateX(0);
    opacity: 0.0;
  }
  10% {
    opacity: 1;
  }
  50% {
    transform: translateY(-40vh) translateX(10px);
  }
  100% {
    transform: translateY(-80vh) translateX(-10px);
    opacity: 0.8;
  }
}

